build*/
run_logs/*
!run_logs/official_tests/
run_logs/official_tests/*
!run_logs/official_tests/README.md
logs/
*.log
*.o
*.a
*.dylib
*.so
*.csv
*.png
*.pdf
*.root
*.zst
*.gz
*.pyc
*.h5
__pycache__/
.DS_Store

!configs/**/*.csv
!configs/**/*.cfg
!external/hessioxxx/hessioxxx.tar.gz
!external/hessioxxx/sha256.sum
external/hessioxxx/source/bin/
external/hessioxxx/source/out/
