# Example only. Angles are degrees.
random_seed=987654321
facet_radial_position_sigma_m=0.00
facet_normal_sigma_deg=0.0
reflect_direction_sigma_deg=0.0179
radius_of_curvature_sigma_m=0.0
reflectivity_scale_sigma=0.0
