# Dark-sky LoNS spectral NSB model from ESO SkyCalc.
#
# This file computes nsb.rate_pe_per_ns_per_pixel from:
#   LoNS spectrum * fixed optical effective area * pixel solid angle *
#   mirror reflectivity * filter transmission * SiPM PDE.
enabled=true
model=spectral_flux
spectrum_csv=nsb_spectrum.csv
spectrum_unit=ph_s_nm_sr_m2
effective_area_m2=28.304744
pixel_solid_angle=auto
window_ns=16
seed=12345
